body{
    width: auto;
    background-color: gray;
    margin: 0;
}

a{
    text-decoration: none;
}
/*Estilo header*/

header{
    width: 100%;
    background-color: lightblue;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
}

.contenedor1{
    margin: 10px;
    
}

.contenedor2{
    display: grid;
    grid-template-columns: auto;
    height: 95%;
}
.icono-principal{
    width: 150px;
    height: 150px;
}


.iconos-redes{
    display: inline-flex;
    justify-content: end;
    margin-right: 10px;
    margin-top:10px
}

.iconos-redes img{
    width: 25px;
    height: 25px;
    padding: 10px;
}

nav{
    width: 100%;
    display: inline-flex;
    justify-content: end;
    height: 50px;
    color: black;
}

nav h2{
    padding-right: 15px;
}
nav a{
    text-decoration: none;
    color: black;
}

nav :hover{
    text-decoration: underline whitesmoke;
    
}

/*Estilo formularios*/

main{
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
    height: auto;
}

.contenedor-global{
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px;
}
.contenedor-global a{
    color: white;
}

.titulo{
    text-align: center;
    font-size: x-large;
    color: white;
}
.titulo p{
    font-size: 15px;
}
.p-pass{
    text-decoration: none;
}

.formulario{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    row-gap:30px;
   
}

.formulario button{
    background-color: green;
    font-family: sans-serif;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 15px 25px;
}

.formulario button:hover{
    background-color: greenyellow;
    cursor: pointer;
    border: 2px solid gray;
}

.error-cuenta {
    font-size: small;
    color: white;
}

.formulario p{
    font-size: 20px;
    color: white;
    
}

.datos{
    display: grid;
    grid-template-columns: auto;
    row-gap:30px;
    width: 450px;
    color: black;
}

input{
    padding: 10px 8px;
    font-size: 16px;
    border: 1px solid black;
}

.img-consulta{
    height: 50px;
    width: 50px;
}

/*Trabajo compa*/
/*Contactos*/
.articulo {
    background-color: rgba(255, 255, 255, 0.672);
    color: white;
    font-size: large;
    margin: 1% 20%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.formulario button, .login button{
    background-color: green;
    font-family: sans-serif;
    font-size: large;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
}
  .formulario button:hover,  .login button:hover{
    background-color: rgb(1, 75, 1);
}
  
.contForm h1{
    text-align: center;
}
  
#comentario {
    overflow: auto;
}
  
#erradoss{
    padding-left:8px;
    overflow: auto;
}
  
.error {
    border: 1px solid red;
}
  
.verde {
    color: green;
}
  
.rojo {
    color: red;
}
  
/*APIS-cuerpo*/
/* body{
    background-color: black;
  }
  .cuerpo{
    color: white;
  }
  
  .iniciarsesion{
    text-align: center;
    text-decoration: underline;
    font-size: large;
    color: white;
  }
  .conten-sesion{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
  }
  .login{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    row-gap:30px;
  }
  .datos{
    display: grid;
    grid-template-columns: auto;
    row-gap:30px;
    width: 450px;
    color: black;
  }
  textarea, input{
    padding: 10px 8px;
    font-size: 14px;
    border: 1px solid black;
  } */
/*APIS*/
#contenedor-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    margin: 40px 0 40px 0;
}
  
.card {
    background-color: hsl(197, 11%, 56%);
    position: relative;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    height: auto;
}
  
.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
    height: auto;
}
  
.card img {
    width: 100%;
    max-height: 300px;
    height: 100%;
    object-fit: contain;
}
  
.descripcion {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: justify;
    margin-left: 6px;
    margin-right: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
  
.descripcion:hover {
    border-radius: 5px;
    white-space: normal;
    overflow: visible;
    position: absolute;
    /* z-index: 1; */
    background-color: rgb(184, 181, 181);
}
  
.titulo {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
  
.duracion, .cantJugadores {
    padding: 5px;
    margin: 6px;
    border-radius: 3px;
    background-color: #928f8fc7;
    font-size: 14px;
}
  
.agregar-carrito {
    display: block;
    width: calc(100% - 12px);
    margin: 6px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.agregar-carrito:hover {
    background-color: #0056b3;
}

/*Sector de Torneos*/
.torneo-main{
    height: auto;
    margin-bottom: 30px;
}
.global-torneo{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    height: 100%;
    row-gap: 0px;
}

.contenedor-cartas{
    display: flex;
    column-gap: 50px;
    
}

.card{
    display: grid;
    grid-template-columns: auto;
    border: 2px solid white;
    border-radius: 5px;
    width: 250px;
    height: 450px;
    background-color: lightblue;

}

.card h1{
    background-color: white;
    color: black;
    font-size: x-large;
}

.card p{
    color: black;
    font-size: medium;
    font-weight: bold;
    margin: 0;
}

.card img {
    width: 90%;
    height: 150px;
    margin: 0 5% 0 5%;
}

.card iframe{
    width: 90%;
    height: 130px;
    margin-top: 10px;
}

.mapa-direcciones{
    display: flex;
    flex-wrap: wrap;
    
}

/*Footer*/

/*Barra suscripcion*/
footer{
    width: auto;
    background-color: gray;
}

footer img{
    width: 80px;
    height: 35px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 3px;
}

.barra-suscribir{
    width: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 5px;

}
.input-footer{
    border-radius: 10px;
}

.footer-2{
    width: auto;
    color: white;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer-2 h2{
    font-weight: bold;
    text-decoration: underline;
}


.img-footer{
    display: grid;
    grid-template-columns: auto auto;
}


.informacion-footer img{
    border: none;
    width: 35px;
    height: 35px;
}

.informacion-footer a{
    color: white;
}

.informacion-footer a:hover{
    color: black;
}


.copyR{
    background-color: rgb(49, 47, 47);
    color: white;
    font-size: larger;
    text-align: center;
    padding: 1px;
    
}

.info-main{
    display: grid;
    grid-template-columns: auto;
    margin: 0 20px 5px 20px;
    height: auto;
}

.info-main p, li{
    font-size: 18px;
}

.info-main a{
    color: white;
    text-decoration: underline;
}

/*Media Query*/

@media screen and (max-width: 480px) {
    /*Header*/
    header{
        grid-template-columns: auto;
    }
    .contenedor1{
        text-align: center;
    }
    .iconos-redes:first-child{
        display: none;
    }
    .iconos-redes{
        display: flex;
        justify-content: center;
    }

    .iconos-redes img{
        width: 40px;
        height: 40px;
    }
    .contenedor2 nav{
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    /*Torneos*/
    .contenedor-cartas{
        display: grid;
    }
    .card{
        width: 90%;
        margin: 0 5% 10px 5%;
    }

    .card img{
        width: 90%;
        margin: 0 5% 10px 5%;;
    }

    /*Informacion*/

    .info-main{
        font-size: large;
    }

    /*Login*/
    .contenedor-global, .titulo, .formulario,.datos,.inicio-sesion{
        width: 100%;
    }

    .contenedor-global p{
        width: 100%;
    }
    .contenedor-global a{
        text-decoration: underline;
    }

    .titulo p{
        font-size: 25px;
    }
    .formulario p{
        font-size: 25px;
    }


    .formulario{
        width: auto;
    }

    .formulario input, .formulario button{
        width:auto;
        text-align: center;
        margin: 0 10px 0 10px;
    }
    
    /*Cartas api*/
    #contenedor-grid{
        grid-template-columns: auto auto;
        column-gap: 1px;
    }
    /*Footer*/
    .barra-suscribir, .footer-2{
       display: grid;
       font-size: large;
       width: auto;
       text-align: center;
    }

    .footer-2{
        display: grid;
        grid-template-columns: auto;
    }

    

    .copyR{
        width: auto;
    }

    
    
}

@media screen and (min-width: 481px) and (max-width: 768px){
    /*header*/
    header{
        grid-template-columns: auto;
    }
    .contenedor1{
        text-align: center;
    }
    .iconos-redes:first-child{
        display: none;
    }
    .iconos-redes{
        display: flex;
        justify-content: center;
    }

    .iconos-redes img{
        width: 40px;
        height: 40px;
    }
    .contenedor2 nav{
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
        justify-content: center;
        text-align: center;
    }

    #contenedor-grid{
        grid-template-columns: auto auto auto ;
        column-gap: 5px;
    }
    /*Footer*/
    .barra-suscribir{
        font-size: large;
        text-align: center;
    }
    .barra-suscribir{
        text-align: center;
    }

    .footer-2{
       display: grid;
       grid-template-columns: auto auto;
       font-size: large;
       width: auto;
       text-align: center;
    }
 
    .copyR{
         width: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){

    #contenedor-grid{
        grid-template-columns: auto auto auto ;
        column-gap: 15px;
    }
}