<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Games - Deseados</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icono.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="contenedor1">
            <img class="icono-principal" src="{{ url_for('static', filename='img/juego-de-mesa.png') }}" alt="Juego de mesa Icono">   
        </div>
        
        <div class="contenedor2">
            <div class="iconos-redes">
                <a href="#"><img src="{{ url_for('static', filename='img/redes/instagram.png') }}" alt="instagram icono"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/redes/facebook.png') }}" alt="facebook icono"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/redes/tik-tok.png') }}" alt="tik-tok icono"></a>
            </div>

            <div class="iconos-redes">
                <a href="/log"><img src="{{ url_for('static', filename='img/redes/icono-persona.png') }}" alt="Icono Login"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/redes/icono-carrito.png') }}" alt="Icono carrito"></a>
            </div>

            <nav>
                <a href="/"><h2>INICIO</h2></a>
                <a href="/torneos"><h2>TORNEOS</h2></a>
                <a href="/informacion"><h2>INFORMACION</h2></a>
                <a href="/contacto"><h2>CONTACTOS</h2></a>
                <a href="/deseados"><h2>DESEADOS</h2></a>
            </nav>
        </div>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for deseo in deseos %}
                <tr>
                    <td>{{ deseo[3] }}</td>
                    <td><img src="{{ deseo[2] }}" alt="Foto de {{ deseo[2] }}"></td>
                    <td>
                        <div>
                            <button onclick="actualizarCantidad('{{ deseo[1] }}', -1)">-</button>
                            <span>{{ deseo[4] }}</span>
                            <button onclick="actualizarCantidad('{{ deseo[1] }}', 1)">+</button>
                        </div>
                    </td>
                    <td><button onclick="deletear('{{ deseo[1] }}')">Eliminar</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <div class="barra-suscribir">
            <h1>Suscríbete</h1>
            <h3>Enterate de todas las novedades y ofertas!!</h3>
            <h2>Email: <input type="email" placeholder="Ingresa tu email: " class="input-footer"></h2>
        </div>
        <div class="footer-2">
            <div class="informacion-footer">
                <h2>Información:</h2>
                <a href="{{ url_for('informacion') }}#info-compra">
                    <h3>¿Cómo comprar?</h3>
                </a>
                <a href="{{ url_for('informacion') }}#devolucion">
                    <h3>Devoluciones</h3>
                </a>
                <a href="{{ url_for('informacion') }}#preguntas">
                    <h3>Preguntas Frecuentes</h3>
                </a>
                <a href="{{ url_for('informacion') }}#info-grupo">
                    <h3>¿Quienes somos?</h3>
                </a>
            </div>

            <div class="pagos-footer">
                <h2>Medios de pagos:</h2>
                <div class="img-footer">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/MC.jpg') }}" alt="Logo Mastercard">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/visa.jpg') }}" alt="Logo Visa">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/naranja.jpg') }}" alt="Logo Naranja">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/pago-facil-logo.jpg') }}"
                        alt="Logo Pago facil">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/rapipago.jpg') }}" alt="Logo Rapipago">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/mercadopago.jpg') }}"
                        alt="Logo Mercado pago">
                </div>
            </div>

            <div class="envios-footer">
                <h2>Envíos:</h2>
                <div class="img-footer">
                    <img src="{{ url_for('static', filename='img/correo/correo-arg.jpg') }}" alt="Logo Corre Argentino">
                    <img src="{{ url_for('static', filename='img/correo/PICKIT.png') }}" alt="Logo Pickit">
                    <img src="{{ url_for('static', filename='img/correo/dhl.jpg') }}" alt="Logo DHL">
                    <img src="{{ url_for('static', filename='img/correo/fedex.jpg') }}" alt="Logo FedEx">
                </div>
            </div>

            <div class="informacion-footer">
                <h2>Contacto:</h2>
                <h3>+5438652345</h3>
                <h3><a href="mailto:contactojuegos@gmail.com">contactojuegos@gmail.com</a></h3>
                <img src="{{ url_for('static', filename='img/redes/facebook.png') }}" alt="Logo Facebook">
                <img src="{{ url_for('static', filename='img/redes/instagram.png') }}" alt="Logo Instagram">
                <img src="{{ url_for('static', filename='img/redes/tik-tok.png') }}" alt="Logo Tiktok">
                <img src="{{ url_for('static', filename='img/redes/whatsapp.png') }}" alt="Logo Whatsapp">
            </div>
        </div>
        <div class="copyR">
            <p>&copy; Derechos reservados. Codo a Codo-Fullstack Python Grupo 15.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/apiJuegos.js') }}"></script>
</body>

</html>