<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Games - Información</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icono.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="contenedor1">
            <img class="icono-principal" src="{{ url_for('static', filename='img/juego-de-mesa.png') }}" alt="Juego de mesa Icono">   
        </div>
        
        <div class="contenedor2">
            <div class="iconos-redes">
                <a href="#"><img src="{{ url_for('static', filename='img/redes/instagram.png') }}" alt="instagram icono"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/redes/facebook.png') }}" alt="facebook icono"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/redes/tik-tok.png') }}" alt="tik-tok icono"></a>
            </div>

            <div class="iconos-redes">
                <a href="/log"><img src="{{ url_for('static', filename='img/redes/icono-persona.png') }}" alt="Icono Login"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/redes/icono-carrito.png') }}" alt="Icono carrito"></a>
            </div>

            <nav>
                <a href="/"><h2>INICIO</h2></a>
                <a href="/torneos"><h2>TORNEOS</h2></a>
                <a href="/informacion"><h2>INFORMACION</h2></a>
                <a href="/contacto"><h2>CONTACTOS</h2></a>
                <a href="/deseados"><h2>DESEADOS</h2></a>
            </nav>
        </div>
    </header>
    
    <main class="info-main">
        <div class="info-compra">
            <h1><a id="info-compra"></a>¿Cómo comprar?</h1>
            <ol>
                <li><a href="log.html">Acceder</a> a la cuenta.</li>
                <li>Seleccionar el producto(quedará guardado en el carrito).</li>
                <li>Entrar al carrito de productos para finalizar la compra.</li>
                <li>Ingresar los datos de compra.</li>
                <li>Seleccionar un medio de pago.</li>
                <li>Seleccionar la forma de entrega del mismo.</li>
                <li>Al recibir la confirmación de la compra se le enviará un mail con los datos de la misma.</li>
                <li>Despacharemos el producto a la dirección indicada.</li>
            </ol>
        </div>

        <div>
            <h1><a id="devolucion" ></a>Devoluciones:</h1>
            <p>En caso de que el producto esté defectuoso o tenga inconvenientes con el mismo, envíe un email a esta dirección: soportejuegos@gmail.com o comuníquese al tel: +5438652345. Le brindaremos la atención necesaria a la brevedad.</p>
        </div>

        <div>
            <h1><a id="preguntas"></a>Preguntas frecuentes:</h1>

            <h2>¿Cuáles son los medios de pago?</h2>
            <p>Puede pagar sus productos con tarjeta de crédito o débito de cualquier banco Visa, Mastercard, Tarjeta Naranja. También puede pagar con efectivo mediante puntos de pago: Pago fácil o Rapipago o por transferencia mediante Mercadopago.</p>

            <h2>¿Envíos?</h2>
            <p>Los envíos nacionales entán a cargo de Correo Argentino o Pickit.
            Envíos internacionales mediante DHL Express o FedEx.</p>

            <h2>¿Tiempos de envío?</h2>
            <p>Los envíos nacionales tienen un tiempo estimado de 5 a 7 días hábiles.Los envíos internacionales tiene un tiempo estimado de 15 a 20 días hábiles.</p>
        </div>

        <div>
            <h1><a id="info-grupo"></a>¿Quiénes somos?</h1>
            <p>Somos un grupo de estudiantes de Codo a Codo Fullstack Python. 
                Desarrollamos este trabajo como parte del proyecto Frontend.
                El grupo está formado </p>
            
            
                

                <ul>
                    <li>Damian García</li>
                    <li>Facundo Marquez</li>
                    <li>Santiago Sepúlveda</li>
                </ul>
                
                
                
            <p>Comisión 24188 a cargo del profesor Tomas Kurten Perez.</p>
        </div>
    </main>
    <footer>
        <div class="barra-suscribir">
            <h1>Suscríbete</h1>
            <h3>Enterate de todas las novedades y ofertas!!</h3>
            <h2>Email: <input type="email" placeholder="Ingresa tu email: " class="input-footer"></h2>
        </div>
        <div class="footer-2">
            <div class="informacion-footer">
                <h2>Información:</h2>
                <a href="{{ url_for('informacion') }}#info-compra"><h3>¿Cómo comprar?</h3></a>
                <a href="{{ url_for('informacion') }}#devolucion"><h3>Devoluciones</h3></a>
                <a href="{{ url_for('informacion') }}#preguntas"><h3>Preguntas Frecuentes</h3></a>
                <a href="{{ url_for('informacion') }}#info-grupo"><h3>¿Quienes somos?</h3></a>
            </div>

            <div class="pagos-footer">
                <h2>Medios de pagos:</h2>
                <div class="img-footer">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/MC.jpg') }}" alt="Logo Mastercard">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/visa.jpg') }}" alt="Logo Visa">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/naranja.jpg') }}" alt="Logo Naranja">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/pago-facil-logo.jpg') }}" alt="Logo Pago facil">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/rapipago.jpg') }}" alt="Logo Rapipago">
                    <img src="{{ url_for('static', filename='img/tarjetasEnvios/mercadopago.jpg') }}" alt="Logo Mercado pago"> 
                </div>
            </div>

            <div class="envios-footer">
                <h2>Envíos:</h2>
                <div class="img-footer">
                    <img src="{{ url_for('static', filename='img/correo/correo-arg.jpg') }}" alt="Logo Corre Argentino">
                    <img src="{{ url_for('static', filename='img/correo/PICKIT.png') }}" alt="Logo Pickit">
                    <img src="{{ url_for('static', filename='img/correo/dhl.jpg') }}" alt="Logo DHL">
                    <img src="{{ url_for('static', filename='img/correo/fedex.jpg') }}" alt="Logo FedEx">
                </div>
            </div>

            <div class="informacion-footer">
                <h2>Contacto:</h2>
                <h3>+5438652345</h3>
                <h3><a href="mailto:contactojuegos@gmail.com">contactojuegos@gmail.com</a></h3>
                <img src="{{ url_for('static', filename='img/redes/facebook.png') }}" alt="Logo Facebook">
                <img src="{{ url_for('static', filename='img/redes/instagram.png') }}" alt="Logo Instagram">
                <img src="{{ url_for('static', filename='img/redes/tik-tok.png') }}" alt="Logo Tiktok">
                <img src="{{ url_for('static', filename='img/redes/whatsapp.png') }}" alt="Logo Whatsapp">
            </div>
        </div>
        <div class="copyR">
            <p>&copy; Derechos reservados. Codo a Codo-Fullstack Python Grupo 15.</p>
        </div>
    </footer>
    <script src="/JS/login.js"></script>
</body>
</html>